@font-face {
  font-family: "Suprema";
  src: url("./../fonts/Suprema.zip") format("truetype");
  font-weight: normal;
  font-style: normal;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Suprema", sans-serif;
  }
  
ul{
  list-style-type: none;
}
  
.financial-dashboard{
  background: #f0f0f0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.financial-dashboard__body {
  height: 95vh;
  width: 95vw;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  background: white;
  border-radius: 50px;
  box-shadow: 0px 24px 32px 0px #0000000a;
}

  /* ! LEFT CONTENT */

.financial__left{
  margin-left: 40px;
  /* margin-left: 10px; */
	border-right: 1px solid #aeaeae;
}


.financial__left_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.financial__left_logo{
  width: 136px;
	height: 29px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 60px 55px 80px 40px;
}


.financial__left_logo h2 {
	color: #0f4264;
	font-size: 17px;
}



.border{
  width: 1px;
  height: 903.5px;
  left: 313.24px;
  top: 148.25px;
  background: #F8F8F8;
}


.financial__left_bottom-clouds{
  width: 71.11px;
  height: 79.22px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-left: 30px;
}


.financial__left_bottom-button{
  background: #FFC145;
  border-radius: 13.617px;
  font-weight: 700;
  font-size: 11.1442px;
  line-height: 14px;
  color: #404040;
  padding: 8px 9px;
  border: 2px solid transparent;
  text-decoration: none;
}

.financial__left_bottom-button:hover{
  cursor: pointer;
  color: #197BBD;
}

.financial__left_bottom-text{
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  color: #404040;
  margin-bottom: 15px;
  max-width: 103px;
  margin-left: 10px;
}

.financial__left_bottom {
  margin-top: 70px;
}

.financial__left_menu-item{
  display: flex;
  padding: 3px;
}

.financial__left_item-text{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #C7C7C7;
  margin-left: 10px;
  margin-top: 5px;
}


.financial__left_menu-item_overview{
  margin-left: 5px;
}

.menu-list__overview {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #197BBD;
  margin-left: 20px;
}


/* ! NAME */

.name{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
}

.name__text h1{
  font-weight: 600;
  font-size: 35.3726px;
  line-height: 53px;
  color: #404040;
}

.name__text p{
  font-weight: 400;
  font-size: 14.0564px;
  line-height: 20px;
  color: #AEAEAE;
}

.name__right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 40px;
}

.name__img, 
.name__img2{
  margin-right: 20px;
}

.name__login{
  background: #ffc145;
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
}

.login__name h3{
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #404040;
}

.login__name p{
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #AEAEAE;
}


/* !CARD */
.card{
  width: 470px;
	height: 230px;
	margin-left: 36px;
	border-radius: 28px;
	box-shadow: 0px 10px 15px #f1f1f1;
	position: relative;
}

.card__title{
  padding-top: 16px;
	margin-top: 24px;
	margin-left: 25px;
  font-weight: 600;
  font-size: 18.1118px;
  line-height: 25px;
  color: #404040;
}


.card__img{
  width: 230px;
	margin-left: 15px;
}


.card__left-arrow {
  width: 9px;
	position: absolute;
	top: 100px;
	left: 6px;
}


.card__right-arrow {
  width: 9px;
	position: absolute;
	top: 100px;
	left: 242px;
}


.card__border-line {
	position: relative;
	width: 190.43px;
	height: 6.47px;
	background-color: #F1F1F1;
	border-radius: 13px;
	margin-left: 35px;
	margin-top: -15px;
}


.card__border-line2 {
	position: absolute;
	width: 50.25px;
	height: 6.06px;
	background-color: #197bbd;
	border-radius: 10.78px;
	bottom: 34.5px;
	margin-left: 35px;
}


.card__text {
  font-weight: 400;
  font-size: 9px;
  line-height: 17px;
  color: #AEAEAE;
	margin-left: 35px;
	margin-top: 8px;
}



.card__num-cash {
  font-weight: 600;
  font-size: 11px;
  line-height: 17px;
	color: #404040;
	margin-left: 30px;
	width: 107px;
}



.card-border{
  width: 1px;
	height: 120.86px;
	background-color: #e8e8e8;
	margin-top: -175px;
	margin-left: 295px;
}

/* !NUMBERS */

.numbers{
  margin-top: -130px;
	margin-right: 20px;
	text-align: right;
}



.numbers__dollar {
	font-size: 12px;
}

.numbers__balance {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  color: #197BBD;
}


.numbers__income{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #439A86;
}


.numbers__outcome{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #BB4430;
}


.numbers__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  color: #AEAEAE;
	padding-bottom: 5px;
}


.numbers__img{
  margin-bottom: 5px;
}


/* ! TRANSACTION HISTORY */

.transaction-history {
  width: 470px;
	height: 230px;
  box-shadow: 0px 16px 24px 0px #0000000f;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 36px;
}



.transaction-history__title {
  font-weight: 600;
  font-size: 18.1118px;
  line-height: 25px;
  color: #404040;
  margin-bottom: 5px;
}


.transaction-history__subtitle{
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #AEAEAE;
  margin-bottom: 15px;
}


.transaction-history__block1 {
  display: grid;
  grid-template-columns: 2.2fr 1.5fr 1fr 1fr;
  font-size: 10px;
}



.transaction-history__block1-item {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #404040;
  cursor: pointer;
}


.transaction-history__block1-item img {
  display: block;
  width: 16px;
  height: 16px;
  background: #efefef;
  border-radius: 5px;
  padding: 2px;
  margin-right: 8px;
  margin-bottom: 12px;
}


.transaction-history__block-text{
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #C7C7C7;
  margin-bottom: 10.5px;
}


.transaction-history__block-numbers{
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  margin-left: 25px;
  margin-bottom: 10.5px;
}

.transaction-history__subtitle-amout{
  margin-left: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #C7C7C7;
  margin-bottom: 10.5px;
}







/* !goals */

.goals {
  display: flex;
  flex-direction: column;
  margin-top: -465px;
  margin-left: 490px;
}


.goals__title {
  display: flex;
  font-weight: 600;
  font-size: 12.1118px;
  line-height: 25px;
  color: #404040;
  margin-bottom: 10px;
  margin-left: 45px;
}

.goals__img{
  width: 20px;
  height: 20px;
}



.goals__card-1 {
  display: flex;
  justify-content: space-evenly;
}



.goals__card-item {
  width: 130.93px;
  height: 120.74px;
  border-radius: 28px;
  background: white;
  box-shadow: 0px 16px 24px 0px #0000000f;
  padding: 14px;
}



.goals__card-item-dollar{
  font-weight: 600;
  font-size: 13.9789px;
  line-height: 29px;
  color: #696969;
}


.goals__card-item-data{
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  color: #AEAEAE;
  margin-bottom: 6px;
}


.goals__card-item-img{
  width: 25px;
}

.goals__card-item-name{
  font-weight: 400;
  font-size: 14.1118px;
  line-height: 25px;
  color: #404040;
}


.goals__card_right-arrow{
  width: 9px;
	position: absolute;
  margin-top: 60px;
  margin-left: 250px;
}




/* !OUTCOME STATISTICS */

.outcome-statistics__img-orange{
  width: 17px;
  background: #FFEADA;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}


.outcome-statistics__img-green{
  width: 17px;
  background: #DDF9E4;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}


.outcome-statistics__img-blue{
  width: 17px;
  background: #E4F0FF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}


.outcome-statistics{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 30px;
}


.outcome-statistics__title{
  font-weight: 600;
  font-size: 15.1118px;
  line-height: 25px;
  color: #404040;
}

.statistic-line1 {
	width: 367.74px;
	height: 6.47px;
	background-color: #f1f1f1;
	border-radius: 13.62px;
	position: absolute;
  top: 365px;
  left: 815px;
}


.statistic-shopping-line {
	top: 365px;
  left: 815px;
	width: 135.35px;
	height: 6.47px;
	border-radius: 10.78px;
	background: linear-gradient(#f7af42, 10%, #fcae73);
	position: absolute;
}


.statistic-shopping__numbers{
  font-weight: 600;
  font-size: 12.9789px;
  color: #696969;
  margin-top: -30px;
  margin-left: 410px;
}



.statistic-shopping__text{
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  color: #AEAEAE;
  margin-left: 35px;
  margin-top: -8px;
}

.outcome-statistics__block-item{
  margin-bottom: 25px;
}


.statistic-line2 {
  top: 395px;
  left: 815px;
	width: 367.74px;
	height: 6.47px;
	background-color: #f1f1f1;
	border-radius: 13.62px;
	position: absolute;
}


.statistic-electronics-line {
	width: 62.12px;
	height: 6.47px;
	border-radius: 10.78px;
	background: linear-gradient(#209d43, 10%, #2bc255);
	position: absolute;
	top: 395px;
	left: 815px;
}



.statistic-electronics__text{
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  color: #AEAEAE;
  margin-left: 35px;
  margin-top: -5px;
}


.statistic-electronics__numbers{
  font-weight: 600;
  font-size: 12.9789px;
  color: #696969;
  margin-top: -40px;
  margin-left: 410px;
}



.statistic-line3 {
  top: 430px;
  left: 815px;
	width: 367.74px;
	height: 6.47px;
	background-color: #f1f1f1;
	border-radius: 13.62px;
	position: absolute;
}


.statistic-travels__text{
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  color: #AEAEAE;
  margin-left: 35px;
  margin-top: -8px;
}


.statistic-travels__numbers{
  font-weight: 600;
  font-size: 12.9789px;
  color: #696969;
  margin-top: -35px;
  margin-left: 410px;
}


.statistic-travels-line {
	width: 281.33px;
	height: 6.47px;
	border-radius: 10.78px;
	background-color: #70a6e8;
	position: absolute;
	top: 430px;
	left: 815px;
}






/* !TRANSACTION */


.transaction {
  width: 320.51px;
  height: 147.03px;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 19.0044px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  padding: 15px;
}

.transaction__title{
  font-weight: 600;
  font-size: 16.1118px;
  line-height: 25px;
  color: #404040;
}


.transaction__left {
  flex-direction: column;
  margin-right: 20px;
}



.transaction__ava-wrapper {
  display: flex;
  margin-bottom: 10px;
}


.transaction__ava {
  text-align: center;
  margin-right: 7px;
  height: 59.12px;
}

.transaction__ava-name{
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #404040;
}

.transaction__ava-plus {
  margin-right: 7px;
  height: 62.12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.transaction input {
  border-radius: 8px;
  padding: 6px;
  border: 1px solid #197bbd;
  margin-right: 19px;
  height: 20px;
  width: 155px;
}



.transaction__bottom {
  display: flex;
}


.transaction__right {
  margin-top: -25px;
}

.transaction__right_image{
  width: 170px;
}


.transaction__button {
  cursor: pointer;
  background: #ffc145;
  padding: 1px 5px;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 2px solid transparent;
}


.transaction__button:hover{
  color:#197BBD;
}